bot:
  prefix: '!'
  language: 'de'
  activities:
    - text: "Ez"
      type: play
    - text: "https://github.com/Heroluex/EzBot"
      type: watch
  activity_interval: 30 # Sekunden

giveaway:
  default_winners: 1
  allow_role_requirement: true

autorole:
  enabled: true
  role_id: ""